HF_TOKEN=<your HuggingFace token, should start with hf_>
DEEPSEEK_API_KEY=<your Deepseek key, should start with sk->
GOOGLE_API_KEY=<your Gemini API key>
OPENAI_API_KEY=<your OpenAI token, should start with sk->
UPPAAL_LICENSE_KEY=<your UPPAAL license key from uppaal.veriaal.dk>
