[submodule "src/pddl/downward"]
	path = src/pddl/downward
	url = https://github.com/aibasel/downward.git
[submodule "src/DTLogExtSim"]
	path = src/DTLogExtSim
	url = https://github.com/bpm-diag/DTLogExtSim.git
